<% if @user.errors.any? %>
  <%= @user.errors.count %> error prohibited this obj from being saved:
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @user do |f| %>
  <h4>profile image</h4>
  <%= f.file_field :profile_image, placeholder: "プロフィールimage", accept: "image/*" %>
  <div class="field">
    <h4>name</h4>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <h4>introdution</h4>
    <%= f.text_area :introdution %>
  </div>

  <%= f.submit 'Update User' %>
<% end %>