<div>
  <%= flash[:notice] %>
</div>

<%= render 'users/info&new', user: @user, book: @book_new %>

<table>
  <thead>
    <tr>
      <th>Book detail</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= image_tag @user.get_profile_image(100, 100) %>
        <%= link_to @user.name, user_path(@user.id) %>
      </td>
      <td><%= link_to @book.title, book_path(@book.id) %></td>
      <td><%= @book.body %></td>
      <% if @book.user == current_user %>
      <td><%= link_to "Edit", edit_book_path(@book.id) %></td>
      <td><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか?" %></td>
      <% end %>
    </tr>
  </tbody>
</table>